<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
<!-- ng-app is a directive -->

<head>
    <title>TheNetNinja Angular Playlist</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="./app/lib/angular.min.js"></script>
    <script src="./app/app.js"></script>
</head>

<body>
    <header ng-include src="'header.html'">
        <!--ng-include gives you options to reuse parts of html, headers, footer, etc.-->
        </ng-include>
    </header>
    <div ng-controller="NinjaController">
        <div class="content">
            <!-- <p>{{message}}</p> -->
            <!--$scope is implied-->
            <input type="text" ng-model="search" placeholder="search for a ninja">
            <!--ng model matches filter name for easy search-->
            <ul>
                <!--ng-show is used to show items that are true, ng-hide is used to hide any items that are true-->
                <li ng-repeat="ninja in ninjas | orderBy: 'name' | filter: search" ng-show="ninja.available">{{ninja.name}} - {{ninja.rate | currency}}</li>

                <!--Currency can take string denominations-->
                <!--Use the pipe for filtering aka orderBy:-->
            </ul>
        </div>
    </div>
</body>

</html>